* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --beige: rgb(245, 245, 220);
  --dark-beige: rgb(238, 192, 107);
  --black: rgb(0, 0, 0);
  --opacity-gray: rgba(255, 255, 255, 0.7);
  --white: rgb(255, 255, 255);
  --caramel: rgb(198, 142, 23);
  --brown: rgb(58, 24, 0);
  --gray: rgb(40, 40, 40);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* Section one */

.section-one {
  width: 100%;
  position: relative;
  height: calc(100vh - 150px);
  overflow: hidden;
}

.section-one::after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-image: url(../images/blackboard.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow-button {
  width: 50px;
  height: 60px;
  position: relative;
  z-index: 12;
  top: 0;
  left: 0;
  background-color: var(--dark-beige);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.arrow-button:hover {
  background-color: var(--beige);
}

.arrow-button.active {
  left: 350px;
}

.arrow-line {
  width: 50%;
  height: 5px;
  background-color: var(--black);
  position: absolute;
}

.al-1 {
  top: 20px;
  transform: rotate(45deg);
}

.al-1.active {
  transform: rotate(-45deg);
}

.al-2 {
  top: 35px;
  transform: rotate(-45deg);
}

.al-2.active {
  transform: rotate(45deg);
}

.menu-nav {
  width: 350px;
  height: 100%;
  position: absolute;
  z-index: 13;
  background-color: var(--dark-beige);
  top: 0;
  left: -350px;
  bottom: 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: 0.2s ease;
  box-shadow: 2px 0px 7px;
}

.menu-nav.active {
  left: 0;
}

.nav-heading {
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

.buttons-holder {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--brown);
  color: var(--dark-beige);
  cursor: pointer;
  box-shadow: 1px 1px 5px;
  font-size: 25px;
  transition: 0.2s ease;
}

.nav-button:hover {
  transform: scale(1.1);
}

.menu {
  width: 600px;
  height: 650px;
  background-color: var(--gray);
  border: 5px solid var(--white);
  border-radius: 20px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.menu-heading {
  font-size: 35px;
  color: var(--white);
  font-style: italic;
  text-align: center;
}

.menu-items-holder {
  width: 100%;
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.menu-item {
  padding-bottom: 2px;
  width: 100%;
  border-bottom: 1px dotted var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-name, .item-price {
  color: var(--white);
  font-size: 20px;
}

@media (width < 750px) {
  .menu {
    width: 350px;
  }
}

@media (width <= 400px) {
  .menu-nav {
    width: 250px;
  }

  .nav-heading {
    font-size: 30px;
  }

  .nav-button {
    width: 150px;
    height: 40px;
    font-size: 20px;
  }

  .arrow-button {
    width: 40px;
    height: 50px;
  }
  
  .arrow-button.active {
    left: 250px;
  }
  
  .al-1 {
    top: 17px;
    transform: rotate(45deg);
  }
  
  .al-2 {
    top: 28px;
    transform: rotate(-45deg);
  }
}

@media (width < 375px) {
  .menu {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}
/* Section one end */